/* animation */
@keyframes rolling {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(-40%);
  }
  75% {
    transform: translateY(-60%);
  }
  100% {
    transform: translateY(-80%);
  }
}

/* css part */
body,
h1,
h2,
h3,
p,
ul,
dl,
dd {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
h1,
h2,
h3 {
  font-size: 100%;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: white;
  color: black;
}

.portrait {
  background-image: url(images/IMG_3810.jpeg);
  padding-top: 56.25%;
  background-size: cover;
  background-position: center;
}

.profile {
  padding: 5%;
  min-height: 5000px;
}

.profile-header,
.profile-section {
  padding-bottom: 14%;
}

.profile-section h2 {
  border-top: 3px solid;
  color: royalblue;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Permanent Marker", cursive;
  margin-bottom: 30px;
  padding: 0.5em 0;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 0 10px 30px white;
  z-index: 999;
}

.name {
  font-size: 30px;
  color: dodgerblue;
  line-height: 2;
  font-style: italic;
  margin-bottom: 40px;
  font-family: "Permanent Marker", cursive;
  position: sticky;
  top: -1.8em;
  background-color: white;
  box-shadow: 0 0 50px 50px white;
}

.name-job {
  display: inline-block;
  color: royalblue;
  vertical-align: top;
  height: 2em;
  overflow: hidden;
  padding-right: 0.5em;
  position: relative;
}

.name-job::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin-left: -1em;
  box-shadow: inset 0 0 10px 10px white;
}

.name-job-list {
  animation-name: rolling;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.name-title {
  font-size: 1.5em;
  line-height: 0.7;
  color: black;
  margin-left: -0.3em;
  position: relative;
  top: 10px;
}

.name-description {
  font-family: "Noto Serif KR", serif;
}

.pic {
  background-image: url(images/IMG_3953.jpeg);
  padding-top: 56.25%;
  padding-bottom: 50%;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  margin-top: 2em;
}

.jumbotron {
  background-color: black;
  color: white;
  opacity: 0.3;
}

.timeline {
  font-size: 0.9rem;
  color: black;
  font-family: "Noto Serif KR", serif;
}

.timeline li {
  padding-bottom: 30px;
}

.timeline li:last-child {
  padding-bottom: 0;
}

#carouselExampleSlidesOnly {
  margin-top: 20px;
}

.timeline li h3 {
  color: dodgerblue;
  float: left;
  font-size: 1rem;
  letter-spacing: 0.2em;
  padding-top: 0.2em;
  margin-right: 0.5em;
  margin-top: 0.1em;
  font-family: "Yeon Sung", cursive;
}

.graph li {
  background: rgb(9, 9, 9);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 9, 1) 0%,
    rgba(253, 34, 29, 1) 50%,
    rgba(250, 171, 71, 1) 100%
  );
  background-color: dodgerblue;
  font-family: "Yeon Sung", cursive;
  color: white;
  padding: 0.5em 1em;
  margin: 0.4em 0;
  border-radius: 50px;
  box-sizing: border-box;
}

.graph li::before {
  content: attr(data-score);
  float: right;
}

.graph li[data-score="100%"] {
  width: 100%;
}
.graph li[data-score="70%"] {
  width: 70%;
}
.graph li[data-score="40%"] {
  width: 40%;
}
.graph li[data-score="80%"] {
  width: 80%;
}
.graph li[data-score="50%"] {
  width: 50%;
}
.graph li[data-score="70%"] {
  width: 70%;
}
.graph li[data-score="100%"] {
  width: 100%;
}

.list dt {
  color: dodgerblue;
  float: left;
  width: 4em;
  font-family: "Noto Serif KR", serif;
}

.list dd {
  overflow: hidden;
}

@media (min-width: 768px) {
  .portrait {
    position: fixed;
    left: 0;
    top: 0;
    width: 60vw;
    height: 100vh;
    padding: 0;
  }
  .profile {
    margin-left: 60vw;
  }
  .timeline {
    margin: 0 -10px;
  }
  .name {
    font-size: 3vw;
  }
  .timeline li {
    padding: 20px 10px;
    box-sizing: border-box;
  }
}

.call-contents,
.email-contents,
.follow-contents,
.copyright-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em auto;
}

.info {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 20em;
}

.footer-wrap {
  margin-top: 50px;
}

.saucevideo {
  height: 100%;
  width: 100%;
  margin-top: 2em;
}
